.page-header
  .pull-right
    = render 'search'
  %h1 Cocktails
  = link_to 'New Cocktail', new_cocktail_path

%table.table
  %tr
    %th Name
    %th Description
    %th
    %th
    %th

  - @cocktails.each do |cocktail|
    %tr
      %td= cocktail.name
      %td= truncate cocktail.description, length: 90
      %td= link_to 'Show', cocktail
      %td= link_to 'Edit', edit_cocktail_path(cocktail) if current_user
      %td= link_to 'Destroy', cocktail, :method => :delete, :data => { :confirm => 'Are you sure?' } if current_user

= will_paginate @cocktails, :renderer => BootstrapPagination::Rails

= link_to 'New Cocktail', new_cocktail_path
