.page-header
  %h1= @cocktail.name

  - if current_user
    = link_to 'Edit', edit_cocktail_path(@cocktail)
    \|
    = link_to 'New Cocktail', new_cocktail_path
    \|
  = link_to 'All Cocktails', cocktails_path

- if notice
  %p#notice.alert.alert-info= notice

.description
  = simple_format @cocktail.description

.page-header
  %h3 Recipes
  
%section.js-cocktail_recipes{'data-cocktail-id' => @cocktail.id}

%script
  = json_safe "window.recipes = new App.Collections.Recipes(#{@cocktail.recipes.to_json});".html_safe
  = json_safe "window.cocktail_id = #{@cocktail.id};".html_safe
  new App.Views.ListRecipes({collection: recipes, cocktail_id: cocktail_id}).$el.appendTo('.js-cocktail_recipes');
