.page-header
  %h1= @cocktail.name

- if notice
  %p#notice.alert.alert-info= notice

.description
  = simple_format @cocktail.description

= link_to 'Edit', edit_cocktail_path(@cocktail)
\|
= link_to 'Back', cocktails_path
