= form_for(@spirit) do |f|
  - if @spirit.errors.any?
    .error_explanation
      %h2= "#{pluralize(@spirit.errors.count, "error")} prohibited this spirit from being saved:"
      %ul
        - @spirit.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :is_brand, 'Brand?'
    = f.check_box :is_brand
  .actions
    = f.submit
