%li.js-draggable-spirit.spirit-list{'data-spirit-id' => spirit.id}
  %span.js-droppable-spirit= spirit.name
  |
  = link_to 'Edit', edit_spirit_url(spirit)
  |
  = link_to 'Destroy', spirit_url(spirit), method: :delete, confirm: "Are you sure you want to permanently delete #{spirit.name}?"
  |
  = link_to 'View', spirit_url(spirit)
