<!DOCTYPE html>
%html
  %head
    %title Cocktails
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    
  %body
    .container
      %header.navbar.navbar-fixed-top
        %nav.navbar-inner
          .container
            %ul.nav
              %li.brand Cocktails
              %li= link_to 'Sign Out', destroy_user_session_url, method: :delete
              %li= link_to 'Spirits', spirits_url
              %li= link_to 'Cocktails', cocktails_url
            %ul.nav.pull-right
              %li 
                %a= "Welcome, #{current_user.username}" if current_user
  
    .container
      = yield
