<!DOCTYPE html>
%html
  %head
    %title Cocktails
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    
  %body
    .container
      %header.navbar.navbar-fixed-top
        %nav.navbar-inner
          .container
            %ul.nav
              %li.brand Cocktails
              %li= link_to 'Spirits', spirits_url if current_user
              %li= link_to 'Cocktails', cocktails_url
              %li= link_to 'Your Bar', bar_url if current_user
            %ul.nav.pull-right
              - if current_user
                %li.dropdown
                  %a.dropdown-toggle{'data-toggle' => 'dropdown'}
                    = "Welcome, #{current_user.username}" if current_user
                    %span.caret
                  %ul.dropdown-menu
                    %li= link_to 'Your Bar', bar_url
                    %li= link_to 'Edit profile', edit_user_registration_url 
                    %li= link_to 'Sign out', destroy_user_session_url, method: :delete
              - else
                %li= link_to 'Sign in', new_user_session_url
  
    .container
      = yield
